In [0]:


data = [
    (1, "IT", 50000),
    (2, "IT", 60000),
    (3, "HR", 40000),
    (4, "HR", 45000),
    (5, "Finance", 70000)
]

columns = ["emp_id", "dept", "salary"]

df = spark.createDataFrame(data, columns)
df.show()

+------+-------+------+
|emp_id|   dept|salary|
+------+-------+------+
|     1|     IT| 50000|
|     2|     IT| 60000|
|     3|     HR| 40000|
|     4|     HR| 45000|
|     5|Finance| 70000|
+------+-------+------+

In [0]:
#group-create group
df.groupBy("dept").count().show()

#aggregation 
from pyspark.sql.functions import sum

df.groupBy("dept").sum("salary").show()

#group by multiple columns
df.groupBy("dept", "salary").count().show()

#group with aggregation and filter
from pyspark.sql.functions import sum

df.groupBy("dept") \
  .agg(sum("salary").alias("total_salary")) \
  .filter("total_salary > 90000") \
  .show()

#multiple aggregation
from pyspark.sql.functions import sum, avg, max, min

df.groupBy("dept").agg(
    sum("salary").alias("total_salary"),
    avg("salary").alias("avg_salary"),
    max("salary").alias("max_salary"),
    min("salary").alias("min_salary")
).show()

+-------+-----+
|   dept|count|
+-------+-----+
|     IT|    2|
|     HR|    2|
|Finance|    1|
+-------+-----+

+-------+-----------+
|   dept|sum(salary)|
+-------+-----------+
|     IT|     110000|
|     HR|      85000|
|Finance|      70000|
+-------+-----------+

+-------+------+-----+
|   dept|salary|count|
+-------+------+-----+
|     IT| 50000|    1|
|     IT| 60000|    1|
|     HR| 40000|    1|
|     HR| 45000|    1|
|Finance| 70000|    1|
+-------+------+-----+

+----+------------+
|dept|total_salary|
+----+------------+
|  IT|      110000|
+----+------------+

+-------+------------+----------+----------+----------+
|   dept|total_salary|avg_salary|max_salary|min_salary|
+-------+------------+----------+----------+----------+
|     IT|      110000|   55000.0|     60000|     50000|
|     HR|       85000|   42500.0|     45000|     40000|
|Finance|       70000|   70000.0|     70000|     70000|
+-------+------------+----------+----------+----------+