In [0]:

df = spark.read.format("csv").option("header", "true") \
    .load("/databricks-datasets/retail-org/customers/customers.csv")
df.show(5)

+-----------+------+--------+--------------------+-----+-------------------+--------+------------+----------+----+-------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
|customer_id|tax_id|tax_code|       customer_name|state|               city|postcode|      street|    number|unit| region|district|               lon|              lat|     ship_to_address|valid_from|    valid_to|units_purchased|loyalty_segment|
+-----------+------+--------+--------------------+-----+-------------------+--------+------------+----------+----+-------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
|   11123757|  NULL|    NULL|     SMITH,  SHIRLEY|   IN|             BREMEN| 46506.0| N CENTER ST|     521.0|NULL|Indiana|    50.0|       -86.1465825|       41.4507625|IN, 46506.0, N CE...|1532824233|1548137353.0|           34.0|              3|
|   30585978|  NULL|    NULL|STEPHENS,  GERALD...|   OR|            ADDRESS|       0|    NO SITUS|      NULL|NULL|   NULL|    NULL|      -122.1055158|        45.374317|OR, 0, NO SITUS, nan|1523100473|        NULL|           18.0|              3|
|     349822|  NULL|    NULL|     GUZMAN,  CARMEN|   VA|             VIENNA|   22181|     HILL RD|      2860|NULL|     VA|    NULL|       -77.2941261|38.88303270000001|VA, 22181, HILL R...|1522922493|        NULL|            5.0|              0|
|   27652636|  NULL|    NULL| HASSETT,  PATRICK J|   WI|VILLAGE OF NASHOTAH| 53058.0|    IVY LANE|W333N 5591|NULL|   NULL|    NULL|-88.40951700000002|       43.1213789|WI, 53058.0, IVY ...|1531834357|1558052195.0|            7.0|              1|
|   14437343|  NULL|    NULL|     HENTZ,  DIANA L|   OH|           COLUMBUS| 43228.0|ALLIANCE WAY|      5706|NULL|     OH|     FRA|        -83.158438|39.97821810000001|OH, 43228.0, ALLI...|1517227530|        NULL|            0.0|              0|
+-----------+------+--------+--------------------+-----+-------------------+--------+------------+----------+----+-------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import col
df.filter(col("tax_id").isNull()).count()

19389

In [0]:

df.filter(col("tax_id").isNotNull()).count()

9424

In [0]:

df.fillna({"city": "unknown", "tax_code": 1000}).show(10)

+-----------+------+--------+--------------------+-----+-------------------+----------+--------------+----------+----+-------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
|customer_id|tax_id|tax_code|       customer_name|state|               city|  postcode|        street|    number|unit| region|district|               lon|              lat|     ship_to_address|valid_from|    valid_to|units_purchased|loyalty_segment|
+-----------+------+--------+--------------------+-----+-------------------+----------+--------------+----------+----+-------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
|   11123757|  NULL|    1000|     SMITH,  SHIRLEY|   IN|             BREMEN|   46506.0|   N CENTER ST|     521.0|NULL|Indiana|    50.0|       -86.1465825|       41.4507625|IN, 46506.0, N CE...|1532824233|1548137353.0|           34.0|              3|
|   30585978|  NULL|    1000|STEPHENS,  GERALD...|   OR|            ADDRESS|         0|      NO SITUS|      NULL|NULL|   NULL|    NULL|      -122.1055158|        45.374317|OR, 0, NO SITUS, nan|1523100473|        NULL|           18.0|              3|
|     349822|  NULL|    1000|     GUZMAN,  CARMEN|   VA|             VIENNA|     22181|       HILL RD|      2860|NULL|     VA|    NULL|       -77.2941261|38.88303270000001|VA, 22181, HILL R...|1522922493|        NULL|            5.0|              0|
|   27652636|  NULL|    1000| HASSETT,  PATRICK J|   WI|VILLAGE OF NASHOTAH|   53058.0|      IVY LANE|W333N 5591|NULL|   NULL|    NULL|-88.40951700000002|       43.1213789|WI, 53058.0, IVY ...|1531834357|1558052195.0|            7.0|              1|
|   14437343|  NULL|    1000|     HENTZ,  DIANA L|   OH|           COLUMBUS|   43228.0|  ALLIANCE WAY|      5706|NULL|     OH|     FRA|        -83.158438|39.97821810000001|OH, 43228.0, ALLI...|1517227530|        NULL|            0.0|              0|
|   20441596|  NULL|    1000|    TIRADO,  MARCO A|   NY|            Otselic|     13072|County Road 16|      2792|NULL|     NY|Chenango|       -75.7505808|       42.7172722|NY, 13072, County...|1519335250|        NULL|           24.0|              3|
|    5945686|  NULL|    1000|     SKORA,  BRIAN S|   MI|            unknown|   48205.0|   E 8 MILE RD|   16414.0|NULL|   NULL|    NULL|        -82.950874|       42.4499233|MI, 48205.0, E 8 ...|1518988242|        NULL|            7.0|              1|
|    5385771|  NULL|    1000|     SLAWEK,  DEAN J|   PA|            unknown|19147-3204|  FITZWATER ST|       328|NULL|   NULL|    NULL|-75.14920550000002|       39.9389473|PA, 19147-3204, F...|1518239268|        NULL|           18.0|              3|
|    1427940|  NULL|    1000|   REAVES,  LIONEL C|   VA|        HOT SPRINGS|   24445.0|HOT SPRINGS RD|    6419.0|NULL|   NULL|    NULL|-79.90497859999998|       37.8949737|VA, 24445.0, HOT ...|1529087690|        NULL|           10.0|              2|
|   10457387|  NULL|    1000|BONGIOVANNI,  KEL...|   IN|          VINCENNES|     47591|      JERRY ST|    2006.0|NULL|Indiana|    42.0|        -87.519002|        38.662178|IN, 47591, JERRY ...|1535887733|        NULL|            9.0|              2|
+-----------+------+--------+--------------------+-----+-------------------+----------+--------------+----------+----+-------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
only showing top 10 rows

In [0]:

df.fillna("Unknown").show(10)

+-----------+-------+--------+--------------------+-----+-------------------+----------+--------------+----------+-------+-------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
|customer_id| tax_id|tax_code|       customer_name|state|               city|  postcode|        street|    number|   unit| region|district|               lon|              lat|     ship_to_address|valid_from|    valid_to|units_purchased|loyalty_segment|
+-----------+-------+--------+--------------------+-----+-------------------+----------+--------------+----------+-------+-------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
|   11123757|Unknown| Unknown|     SMITH,  SHIRLEY|   IN|             BREMEN|   46506.0|   N CENTER ST|     521.0|Unknown|Indiana|    50.0|       -86.1465825|       41.4507625|IN, 46506.0, N CE...|1532824233|1548137353.0|           34.0|              3|
|   30585978|Unknown| Unknown|STEPHENS,  GERALD...|   OR|            ADDRESS|         0|      NO SITUS|   Unknown|Unknown|Unknown| Unknown|      -122.1055158|        45.374317|OR, 0, NO SITUS, nan|1523100473|     Unknown|           18.0|              3|
|     349822|Unknown| Unknown|     GUZMAN,  CARMEN|   VA|             VIENNA|     22181|       HILL RD|      2860|Unknown|     VA| Unknown|       -77.2941261|38.88303270000001|VA, 22181, HILL R...|1522922493|     Unknown|            5.0|              0|
|   27652636|Unknown| Unknown| HASSETT,  PATRICK J|   WI|VILLAGE OF NASHOTAH|   53058.0|      IVY LANE|W333N 5591|Unknown|Unknown| Unknown|-88.40951700000002|       43.1213789|WI, 53058.0, IVY ...|1531834357|1558052195.0|            7.0|              1|
|   14437343|Unknown| Unknown|     HENTZ,  DIANA L|   OH|           COLUMBUS|   43228.0|  ALLIANCE WAY|      5706|Unknown|     OH|     FRA|        -83.158438|39.97821810000001|OH, 43228.0, ALLI...|1517227530|     Unknown|            0.0|              0|
|   20441596|Unknown| Unknown|    TIRADO,  MARCO A|   NY|            Otselic|     13072|County Road 16|      2792|Unknown|     NY|Chenango|       -75.7505808|       42.7172722|NY, 13072, County...|1519335250|     Unknown|           24.0|              3|
|    5945686|Unknown| Unknown|     SKORA,  BRIAN S|   MI|            Unknown|   48205.0|   E 8 MILE RD|   16414.0|Unknown|Unknown| Unknown|        -82.950874|       42.4499233|MI, 48205.0, E 8 ...|1518988242|     Unknown|            7.0|              1|
|    5385771|Unknown| Unknown|     SLAWEK,  DEAN J|   PA|            Unknown|19147-3204|  FITZWATER ST|       328|Unknown|Unknown| Unknown|-75.14920550000002|       39.9389473|PA, 19147-3204, F...|1518239268|     Unknown|           18.0|              3|
|    1427940|Unknown| Unknown|   REAVES,  LIONEL C|   VA|        HOT SPRINGS|   24445.0|HOT SPRINGS RD|    6419.0|Unknown|Unknown| Unknown|-79.90497859999998|       37.8949737|VA, 24445.0, HOT ...|1529087690|     Unknown|           10.0|              2|
|   10457387|Unknown| Unknown|BONGIOVANNI,  KEL...|   IN|          VINCENNES|     47591|      JERRY ST|    2006.0|Unknown|Indiana|    42.0|        -87.519002|        38.662178|IN, 47591, JERRY ...|1535887733|     Unknown|            9.0|              2|
+-----------+-------+--------+--------------------+-----+-------------------+----------+--------------+----------+-------+-------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
only showing top 10 rows

In [0]:

df.dropna().count()

27

In [0]:
#replace particular value
df.na.replace("ADDRESS", "unknown").show(5)

#multiple values
df.na.replace(["ADDRESS", "Indiana"], ["VIENNA", "India"]).show(5)

+-----------+------+--------+--------------------+-----+-------------------+--------+------------+----------+----+-------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
|customer_id|tax_id|tax_code|       customer_name|state|               city|postcode|      street|    number|unit| region|district|               lon|              lat|     ship_to_address|valid_from|    valid_to|units_purchased|loyalty_segment|
+-----------+------+--------+--------------------+-----+-------------------+--------+------------+----------+----+-------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
|   11123757|  NULL|    NULL|     SMITH,  SHIRLEY|   IN|             BREMEN| 46506.0| N CENTER ST|     521.0|NULL|Indiana|    50.0|       -86.1465825|       41.4507625|IN, 46506.0, N CE...|1532824233|1548137353.0|           34.0|              3|
|   30585978|  NULL|    NULL|STEPHENS,  GERALD...|   OR|            unknown|       0|    NO SITUS|      NULL|NULL|   NULL|    NULL|      -122.1055158|        45.374317|OR, 0, NO SITUS, nan|1523100473|        NULL|           18.0|              3|
|     349822|  NULL|    NULL|     GUZMAN,  CARMEN|   VA|             VIENNA|   22181|     HILL RD|      2860|NULL|     VA|    NULL|       -77.2941261|38.88303270000001|VA, 22181, HILL R...|1522922493|        NULL|            5.0|              0|
|   27652636|  NULL|    NULL| HASSETT,  PATRICK J|   WI|VILLAGE OF NASHOTAH| 53058.0|    IVY LANE|W333N 5591|NULL|   NULL|    NULL|-88.40951700000002|       43.1213789|WI, 53058.0, IVY ...|1531834357|1558052195.0|            7.0|              1|
|   14437343|  NULL|    NULL|     HENTZ,  DIANA L|   OH|           COLUMBUS| 43228.0|ALLIANCE WAY|      5706|NULL|     OH|     FRA|        -83.158438|39.97821810000001|OH, 43228.0, ALLI...|1517227530|        NULL|            0.0|              0|
+-----------+------+--------+--------------------+-----+-------------------+--------+------------+----------+----+-------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
only showing top 5 rows
+-----------+------+--------+--------------------+-----+-------------------+--------+------------+----------+----+------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
|customer_id|tax_id|tax_code|       customer_name|state|               city|postcode|      street|    number|unit|region|district|               lon|              lat|     ship_to_address|valid_from|    valid_to|units_purchased|loyalty_segment|
+-----------+------+--------+--------------------+-----+-------------------+--------+------------+----------+----+------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
|   11123757|  NULL|    NULL|     SMITH,  SHIRLEY|   IN|             BREMEN| 46506.0| N CENTER ST|     521.0|NULL| India|    50.0|       -86.1465825|       41.4507625|IN, 46506.0, N CE...|1532824233|1548137353.0|           34.0|              3|
|   30585978|  NULL|    NULL|STEPHENS,  GERALD...|   OR|             VIENNA|       0|    NO SITUS|      NULL|NULL|  NULL|    NULL|      -122.1055158|        45.374317|OR, 0, NO SITUS, nan|1523100473|        NULL|           18.0|              3|
|     349822|  NULL|    NULL|     GUZMAN,  CARMEN|   VA|             VIENNA|   22181|     HILL RD|      2860|NULL|    VA|    NULL|       -77.2941261|38.88303270000001|VA, 22181, HILL R...|1522922493|        NULL|            5.0|              0|
|   27652636|  NULL|    NULL| HASSETT,  PATRICK J|   WI|VILLAGE OF NASHOTAH| 53058.0|    IVY LANE|W333N 5591|NULL|  NULL|    NULL|-88.40951700000002|       43.1213789|WI, 53058.0, IVY ...|1531834357|1558052195.0|            7.0|              1|
|   14437343|  NULL|    NULL|     HENTZ,  DIANA L|   OH|           COLUMBUS| 43228.0|ALLIANCE WAY|      5706|NULL|    OH|     FRA|        -83.158438|39.97821810000001|OH, 43228.0, ALLI...|1517227530|        NULL|            0.0|              0|
+-----------+------+--------+--------------------+-----+-------------------+--------+------------+----------+----+------+--------+------------------+-----------------+--------------------+----------+------------+---------------+---------------+
only showing top 5 rows